<!DOCTYPE html>
<html   lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{template.html}">
<body>

<div layout:fragment="content">
    <table class="table table-striped" th:object="${vehicleList}">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Registration</th>
                <th scope="col">Type</th>
                <th scope="col">Drivers</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="vehicle :${vehicleList}">
                <th scope="row">
                    <a th:href="@{'/vehicles/view/' + ${vehicle.id}}" th:text="${vehicle.registration}"></a>
                </th>
                <td th:text="${vehicle.getType()}"></td>
                <td>
                    <th:block th:each="driver, iterStat : ${vehicle.drivers}">
                        <a th:href="@{'/drivers/view/' + ${driver.id}}">
                            <th:block th:text="${driver.name}"></th:block>
                        </a>
                        <th:block th:if="!${iterStat.last}">, </th:block>
                    </th:block>
                    <th:block th:if="${vehicle.drivers.size() == 0}">
                        None registered.
                    </th:block>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>