<!DOCTYPE html>
<html   lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{template.html}">
<body>

<div layout:fragment="content">
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Model</th>
                <td th:text="${vehicle.model}"></td>
            </tr>
            <tr>
                <th scope="row">Colour</th>
                <td th:text="${vehicle.colour}"></td>
            </tr>
            <tr>
                <th scope="row">Drivers</th>
                <td>
                    <th:block th:each="driver, iterStat : ${vehicle.drivers}">
                        <a th:href="@{'/drivers/view/' + ${driver.id}}">
                            <th:block th:text="${driver.name}"></th:block>
                        </a>
                        <th:block th:if="!${iterStat.last}">, </th:block>
                    </th:block>
                    <th:block th:if="${vehicle.drivers.size() == 0}">
                        None registered.
                    </th:block>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="button-group">
        <form action="#" th:action="@{'/vehicles/delete/' +${vehicle.id}}" method="post">
            <input type="hidden" id="id" th:value="${vehicle.id}"></input>
            <a class="btn btn-primary" th:href="@{'/vehicles/edit/' + ${vehicle.id}}">Edit</a>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#deleteModal">Delete</button>

            <!-- Deletion modal -->
            <div id="deleteModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Really delete <strong>[[${vehicle.registration}]]</strong>?</h4>
                        </div>
                        <div class="modal-body">
                            <p>This operation cannot be undone.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-secondary">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>